extends ../layout

append css
	link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
	link(rel='stylesheet', href='/admin/style/admin.css')

block main
	block header
		include componnents/header
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				include componnents/sidebar
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				block content
